 @import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,500;0,600;0,700;0,800;0,900;1,100;1,200&display=swap');

    *{
        margin: 0;
        padding: 0;
        font-family: 'Montserrat', sans-serif;
        box-sizing: border-box;
    }

    html{
        scroll-behavior: smooth;
    }

    body{
        background-image: linear-gradient(rgba(0,0,0,0.9),rgba(0,0,0,0.9)),url("images/hero page/7.jpg");
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        height: 130vh;   
    }

    header{
        position: fixed;
        top: 0;
        left: 0;
        width:100%;
        display: flex;
        background-color: black;
        justify-content: space-between;
        align-items: center;
        height: 15vh;
        z-index: 999;
    }

    .logo{
        margin-left: -32px;
        margin-top: -90px;    
    } 

    .logo img{
        display: flex;
        height: 34vh;
        cursor:pointer ;
    }

    .name h2{
        color: white;
        margin-left: 155px;
        margin-top: -100px;
        cursor: pointer;
    }
     
    .navbar ul{
        display: flex;
        margin-top: 25px;  
    }

    .navbar ul li{
        list-style: none;
    }

    .navbar ul li a{
        text-decoration: none;
        padding: 0px 20px;
        color: white;
    }

    .navbar ul li a:hover{
        color: teal;
        font-weight: bolder;
    }

    .user{
        list-style: none;
        text-decoration: none;
        cursor: pointer;
        color: white;
        margin-top: 12px;
        margin-right: 40px;
    }

    .user a{
        text-decoration: none;
        color: white;
        font-weight: bolder;
    }
    .user i{
        font-size: 20px;
        margin-right: 10px;
        padding: 0px 14px;
    }

    .user a:hover{
        color: teal;
        font-weight: bolder;
    }

    .user a:hover{
        color: teal;  
    }

    .Search_bar{
        height: 13px;
        display: flex;
        cursor: pointer;
        padding: 20px 20px;
        background: white;
        border-radius: 30px;
        align-items: center;
        box-shadow: 0 10px 25px rgba(0,0,0,0.9);
        margin-bottom: -10px;
    }

    .Search_bar:hover input{
        width: 250px;
    }

    .Search_bar input{
        width: 0px;
        outline: none;
        border: none;
        font-weight: 500;
        transition: 0.8s;   
    }

    .Search_bar a .fa-search{
        text-decoration: none;
        color:black;
    }

    .heropage{
        position: absolute;
        color: white;
        margin-top: 100px;
        margin-left: 100px;
    }

    .inside-heropage{
        line-height: 2;
    }

    .inside-heropage h1{
        font-size: 40px;
    }

    .inside-heropage p{
        font-size: 17px;
    }

    span{
        color:teal;
        font-weight: bold;
    }

    .line1{
        height:2px;
        color: rgb(18,241,241);
        width: 12%;
        margin-left: 0px;
        margin-top: 0px;
        position: absolute;
    }

    .Cover{
        margin-top: 130px;
        margin-right: 150px;
    }

    .Cover img{
        height: 320px;
        float:right;
        border-radius: 10px;
    }

    .play-btn1{
        margin-top: 30px;
    }

    .play-btn1 a{
        text-decoration: none;
        color: white;
        padding: 10px 25px;
        background-color: teal;
        border-radius: 67px;
    }

    .play-btn1 a:hover{
        background-color: black;
        color:teal;
    }

    .play-btn1 i{
        color: black;
        padding: 0px 10px;
    }

    .latest-movies{
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: white;
        margin-top: 600px;
        padding: 0px 20px;
    }

    .latest-movies h1{
        font-size: 20px;
        color: rgb(202, 212, 212);
    }

    .latest-container{
        padding: 10px 0px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 30px;
    }
    
    